#cross fade

pydub
ffmpeg-python

# beat matching 

librosa
numpy
scipy

#frontend
streamlit

#software 
fastapi
uvicorn[standard]
python-multipart
pillow
requests
aiofiles

#experiment notebook

ipykernel